---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
import { Breadcrumbs, BreadcrumbsItem } from 'accessible-astro-components'
import { getCollection, CollectionEntry } from 'astro:content';

export async function getStaticPaths() {
const pages = await getCollection('pages');

  return pages.map((page) => {
    return {
      params: { slug: page.slug },
      props: { page }
    }
  })
}

interface Props {
  page: CollectionEntry<'pages'>;
}

const { page } = Astro.props
const { Content } = await page.render();
---

<DefaultLayout
  title={page.data.title}
  description={page.body}
  url={page.data.title}
>
  <div class="container margin-24">
    <Breadcrumbs>
      <BreadcrumbsItem
        href="/"
        label="Home"
      />
      <BreadcrumbsItem
        href="/blog"
        label="Blog"
      />
      <BreadcrumbsItem
        currentPage={true}
        label={page.data.title}
      />
    </Breadcrumbs>
  </div>
  <section class="margin-48">
    <div class="container">
      <h1>{page.data.title}</h1><br>
      <p>By userId: {"page.userId"}</p>
    </div>
  </section>
  <section class="margin-48">
    <div class="container">
      <!-- <p class="size-20">{page.body}</p> -->
      <Content></Content>
    </div>
  </section>
</DefaultLayout>

<style lang="scss">
  ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;

    @media (min-width: 550px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }

    @media (min-width: 950px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
