---
import DefaultLayout from '../../../layouts/DefaultLayout.astro'
import { Breadcrumbs, BreadcrumbsItem } from 'accessible-astro-components'
import { getCollection, CollectionEntry } from 'astro:content';

export async function getStaticPaths() {
const posts = await getCollection('posts');

  return posts.map((post) => {
    return {
      params: { slug: post.slug },
      props: { post }
    }
  })
}

interface Props {
  post: CollectionEntry<'posts'>;
}

const { post } = Astro.props
const { Content } = await post.render();
---

<DefaultLayout
  title={post.data.title}
  description={post.body}
  url={post.data.title}
>
  <div class="container margin-24">
    <Breadcrumbs>
      <BreadcrumbsItem
        href="/"
        label="Home"
      />
      <BreadcrumbsItem
        href="/blog"
        label="Blog"
      />
      <BreadcrumbsItem
        currentPage={true}
        label={post.data.title}
      />
    </Breadcrumbs>
  </div>
  <section class="margin-48">
    <div class="container">
      <h1>{post.data.title}</h1><br>
      <p>By userId: {"post.userId"}</p>
    </div>
  </section>
  <section class="margin-48">
    <div class="container">
      <!-- <p class="size-20">{post.body}</p> -->
      <Content></Content>
    </div>
  </section>
</DefaultLayout>

<style lang="scss">
  ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;

    @media (min-width: 550px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }

    @media (min-width: 950px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
